*{
    margin: auto;
    padding: 0;
}

body{
    height: 100vh;
}

header {
    background-color: red;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h3{
    text-align: center;
    font-weight: 600;
}

nav{
    background-color: brown;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav h3{
    text-align: center;
    font-weight: 600;
}

#wrapper{
    display: flex;
    flex-direction: row;
    flex-flow: row-reverse;
    align-items: stretch;
}

main{
    flex: 1;
    flex-basis: 80%;
    background-color: darkolivegreen;
    height: 70vh;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

aside{
    flex-basis: 20%;
    background-color: coral;
    height: 70vh;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

footer{
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

